{% extends 'website/structure/base.html' %}

{% block content %}
<div class="post">
  <div class="row">
    <div class="col-5">
      <div class="card">
        <div class="card-header">Consulta de CPF</div>
        <div class="card-body">
          <form method="post">{% csrf_token %}
            <div class="form-row">
              <div class="col">
                {{form.cpfnumber}}
              </div>
              <div class="col">
                <button class="btn" type="submit">Consultar</button>
              </div>
            </div>
          </form><br>
          {% if result %}
          <div class="card bg-light mb-3" >
            <div class="card-body">
              <div class="card">
                <div class="card-header">
                  CPF:
                  {% if channel == "db" %}
                  {{result.formattedcpf}}
                  {% else %}
                  {{result.cpf}}
                  {% endif %}
                </div>
                <div class="card-header">
                  Nome:
                  {{result.nome}}
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-offset-2">
    </div>
  </div>
</div>
{% endblock %}
