{% extends 'structure/base.html' %}

{% block content %}
        <div class="post">
          <div class="row">
            <form method="post">{% csrf_token %}
              <div class="form-row">
                {{form.as_p}}
              </div>
              <div class="form-row">
                <button class="col-offset-2" type="submit">Consultar</button>
              </div>
            </form>
          </div>
          <div class="row">
            <h5>CPF: {% if channel == "db" %}{{result.formattedcpf}}{% else %} {{result.cpf}} {% endif %}</h5>
          </div>
          <div class="row">
            <h5>Nome: {{result.nome}}</h5>
          </div>
        </div>
{% endblock %}
